# Learn Python Fast
## Lesson 2:  Other Data Types in Python
#### Abstract

Welcome back to Learn Python Fast, Lesson 2: Other Data Types in Python! In the last lesson, we gave a brief introduction to programming in general and Python in particular, then dove head-first into understanding Python objects, functions, classes, and methods, with a special focus on strings. Strings are a very common data type in Python, but they're not the only one, and in this lesson, we'll review some of the other most common classes you'll encounter. As before, we'll continue to **boldface** any important vocabulary, which will be covered at the end of the lesson.

#### Integers

One of the most common data types in Python is the **integer**, which simply represents whole numbers. We assign integers to variables using just the number itself, without any quotation marks.

Note that you can assign multiple values to multiple variables at once using parentheses, as we do below.

In [6]:
# define multiple integer variables, then print them
a, b = 15, 5
print(a)
print(b)

15
5

Remember how we could use the "+" operator to concatenate strings? We can use the same operator with integers to do addition.

In [4]:
# print the sum of a and b; should print 20
print(a+b)

20

Indeed, we can do all the basic mathematical operations in Python.

In [7]:
print(a + b)    # Addition: returns 20
print(a - b)    # Subtraction: returns 10
print(a * b)    # Multiplication: returns 75
print(a / b)    # Division: returns 3.0
print(a ** b)   # Raising to powers: returns 759,375

20
10
75
3.0
759375

In general, Python respects the order of operations, so that expressions inside parentheses are evaluated before those outside parentheses. Where there are multiple nested parentheses, expressions inside the innermost parentheses are evaluated first before moving outward.

In [8]:
a = (5+2)*3      # Evaluates to (5+2)*3 = (7)*3 = 21.
print(a)

b = 5+(2*3)      # Evaluates to 5+(2*3) = 5+(6) = 11.
print(b)

c = 5+((2*3)+4)  # evaluates to 5+((2*3)+4) = 5+(6+4) = 5+10 = 15
print(c)

d = 5+(2*(3+4))  # evaluates to 5+(2*(3+4)) = 5+(2*7) = 5+14 = 19
print(d)

21
11
15
19

The operator "%" signifies the modulus operation, which returns the remainder after dividing the left-hand number by the right-hand number.

In [9]:
print(15 % 5)    # Returns 0, because 15 is perfectly divisible by 5.
print(15 % 4)    # Returns 3, because 15/4 = 3.75, and 0.75*4 = 3, i.e., because 4 goes into 15 evenly three times, leaving a remainder of 3.

0
3

The modulus operator is a great way to check if a number is even. A number x is even if it's perfectly divisible by 2, i.e., if x % 2 is equal to 0.

In [10]:
a = 14
print(a % 2)    # Returns 0, because 14 is even.

b = 27
print(b % 2)   # Returns 1, because 27 is odd.

0
1

Of note: you can use the underscore character "_" to group digits together in user-readable ways, in place of commas. Python will ignore underscores when storing or printing the value.

In [11]:
SPEED_OF_LIGHT = 299_792_458
print(SPEED_OF_LIGHT)

299792458

#### Floats

Whereas integers represent whole numbers, **floats** represent numbers with decimal places.

In [12]:
pi_to_three_digits = 3.142
print(pi_to_three_digits)
print(type(pi_to_three_digits))

3.142
<class 'float'>

We can assign floats simply by placing a period after an integer, with or without a zero following it. A float will always display as a decimal, even if the decimal portion of the number is 0.

In [13]:
# assign, print, and print type of a float
a = 5.
print(a)
print(type(a))

5.0
<class 'float'>

Mathematical operations with floats work the same way as they do with integers.

In [15]:
a, b = 15.0, 5.0
print(a + b)    # Addition: returns 20.0
print(a - b)    # Subtraction: returns 10.0
print(a * b)    # Multiplication: returns 75.0
print(a / b)    # Division: returns 3.0
print(a ** b)   # Raising to powers: returns 759375.0

20.0
10.0
75.0
3.0
759375.0

Note that any non-division mathematical operation done with integers only will return an integer, but if the operation is division or if any of the numbers involved are floats, a float will always be returned, as we see below.

In [17]:
my_int, my_float = 15, 5.0

c = my_int + my_float
print(c)
print(type(c))

d = my_int / my_int
print(d)
print(type(d))

20.0
<class 'float'>
1.0
<class 'float'>

Also of note, sometimes you'll get seemingly-weird results when working with floats, such as a bunch of extra decimal places.

In [18]:
x = 0.2 + 0.1   # Should evaluate to 0.3
print(x)

0.30000000000000004

The unusual result above is a consequence of how Python represents numbers internally, and is almost totally irrelevant to any actual mathematical operations you do subsequently; Python will correctly disregard the apparent extraneous fraction.

In [19]:
x = x + 1
print(x)

1.3

#### Complex Numbers
**Complex numbers** are those that have a "real" (integer or float) and "imaginary" component, where the "imaginary" component is expressed a product of *i*, the hypothetical (because imaginary) square root of -1. Python represents the imaginary number using the letter *j* instead of *i*, because the letter *i* is so commonly used as indexing (as we'll see later).

In [20]:
# assign, print, and print type of a complex number
x = 5 + 2j
print(x)
print(type(x))

(5+2j)
<class 'complex'>

Remember, in our previous lesson, we learned that we can call dir() on an object to see all the methods available to objects of that class. If we call dir() on the variable *x*, we can see some of the methods available for complex numbers.

In [21]:
print(dir(x))

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

We see, toward the end of the directory for the complex variable *x*, that there are two entries: 'real' and 'imag'. If we try to call the real() method, what happens?

In [22]:
print(x.real())

TypeError: 'float' object is not callable

Interesting! The TypeError 'is not callable' error means that we used () where we shouldn't have, which means x.real is a float object, not a callable object like a function. That means x.real (and also x.imag) are not, properly speaking, methods: they're **attributes**. Attributes are to variables what methods are to functions: where methods are functions available to members of a particular class, attributes are variables which are populated the same way for members of a particular class. Specifically, in this case, the attribute real corresponds to the real-number component of x (which is 5) and the attribute imag corresponds to the imaginary-number component of x (which is 2). Attributes are called using dot-notation just like methods are, but because they aren't functions, we don't call them with parentheses; we simply name the attribute we want to use.

In [23]:
# print the real and imaginary portions of the variable x
print(x.real)
print(x.imag)

5.0
2.0

When playing around with and exploring Python, be mindful of the distinction between attributes and methods, which both appear in the dir() listing of an object. Attributes are not callable and therefore don't need parentheses after them.

#### Boolean Values
A **Boolean** value is one that reflects the truthfulness of an expression. There are only two Boolean values: True and False. We can assign these to variables simply printing the word True or False, with the first letter capitalized and all other lower-case, without quotation-marks.

In [24]:
# assign three Boolean variables, then print them each
x, y, z = True, False, True
print(x)
print(y)
print(z)

True
False
True

One interesting thing about the Boolean values True and False is that they evaluate to 1 and 0, respectively. Thus, the line below returns 2 because there are two True statements.

In [25]:
# sum the true Boolean statements
print(x + y + z) # returns 2

2

Boolean values are commonly returned by **logical operators**, which test the relationship between two or more variables.

In [32]:
print(f"a = {a}")
print(f"b = {b}")
print("="*8)
print(f"a > b: {a > b}")    # GREATER THAN: Returns True, because 15 is greater than 5.
print(f"a < b: {a < b}")    # LESS THAN: Returns False, because 15 is not less than 5.
print(f"a >= b: {a >= b}")   # GREATER THAN OR EQUAL TO: Returns True, because 15 is greater than or equal to 5.
print(f"a <= b: {a <= b}")   # LESS THAN OR EQUAL TO: Returns False, because 15 is not less than or equal to 5.
print(f"a == b: {a == b}")   # EQUALITY: Returns False, because 15 is not equal to 5.
print(f"a != b: {a != b}")   # INEQUALITY: Returns True, because 15 is not equal to 5.

a = 15.0
b = 5.0
========
a > b: True
a < b: False
a >= b: True
a <= b: False
a == b: False
a != b: True

Note that, because a single equal sign "=" is used to represent assignment, we have to use a double equal sign "==" to test for equality. Forgetting this distinction is a common source of syntax errors for new Python users!

You can chain together logical operators using "and", "or", and "not" statements. "and" statements return True only if both expressions joined by the 'and' statement return True. "or" returns True if either of the expressions joined by the 'or' statement returns True. "not" is used to negate the result of a logical test, turning Trues into Falses and Falses into Trues.

In [31]:
print(a == 15 and a < b)    # Returns False because, while a is 15, it is not less than b, and "and" requires both conditions be True
print(a == 15 or a < b)     # Returns True because a is, in fact, 15, and "or" only requires one condition to be True
print(not a == 15)          # Returns False, because a is not not-equal to 15 (i.e., because a==15 is True, which "not" negates).

False
True
False

"is" is another type of logical operator similar to "==", but with stricter conditions. Whereas '==' returns True if the two expressions have the same value, "is" returns True only if the two operations have the same object, that is, if they point to the same reserved location in memory. Consider the example below (we use the int() function to convert a number to integer form):

In [33]:
print(f"a = {a}")
print(f"b = {b}")
print("="*8)
print(a == b*3)      # Returns True, because a (15) is equal to b*3 (5*3 = 15).
print(a is b*3)      # Returns False, because, while a and b*3 have the same value, a is an integer and b is a float, and thus they are different kinds of objects.
print(a is int(b*3)) # Returns True, because now a and b*3 correspond to the same kind of object.

a = 15.0
b = 5.0
========
True
False
False

Weirdly, though, the line below returns False:

In [34]:
print(float(a) is b*3)

False

What's going on here? Converting b\*3 to an integer produces the same object as a, so why does converting a to a float not return the same object as b*3 does?

The answer is that small integers in Python, between -5 and 256, are called singletons. To improve efficiency of memory utilization, Python allows only one object to exist for all integers between these values; any operation which would return these values actually all point to the same singleton object, rather than reserving a new location in memory.

In [35]:
# x and y are singletons, and therefore point to the exact same object
x = 15
y = 15
print(x is y)

# now x and y are not singletons, so new locations in memory are reserved for them and they're no longer the same objects
x = 12815
y = 12815
print(x is y)

True
False

We can test this using the id() function, which returns a unique identification value for an object stored in memory.

In [39]:
# x and y are singletons, so they have the same id values
x = 15
y = 5
print(f"x = {x}, y = {y}")
print(f"id of x: {id(x)}")
print(f"id of y: {id(y)}")
print(f"id of x matches id of y?: {id(x) == id(y)}")
print("\n")

# x and y are not singletons, so even though they have the same values, they're stored in different places in memory, and
# their id values no longer match
x = 12815
y = 12815
print(f"x = {x}, y = {y}")
print(f"id of x: {id(x)}")
print(f"id of y: {id(y)}")
print(f"id of x matches id of y?: {id(x) == id(y)}")

x = 15, y = 15
id of x: 3045314396848
id of y: 3045314396848
id of x matches id of y?: True


x = 12815, y = 12815
id of x: 3045405719824
id of y: 3045405709840
id of x matches id of y?: False

But, also note, even if the values are not singleton, if they are assigned at the same time, they get the same id and thus "is" statements will return True!

In [40]:
# x and y are not singletons, but they're assigned at the same time, so they get the same id assigned to them
x, y = 12815, 12815
print(f"x = {x}, y = {y}")
print(f"id of x: {id(x)}")
print(f"id of y: {id(y)}")
print(f"id of x matches id of y?: {id(x) == id(y)}")

x = 12815, y = 12815
id of x: 3045405712752
id of y: 3045405712752
id of x matches id of y?: True

The moral of the story here is that "is" is not the same thing as "==" in Python, and you really shouldn't use "is" unless you're certain you know what you're doing.

#### Converting Between Data Types
Several functions are available for converting between data types. We can use the str() function to convert almost any object to a string.

In [42]:
# assign, print, and print type of an integer
a = 15
print(a)
print(type(a))
print("\n")

# reassign integer as a string and repeat the process
a = str(a)
print(a)
print(type(a))

15
<class 'int'>


15
<class 'str'>

Real numbers (integers and floats) can be converted freely between one another using the int() and float() functions, respectively. Be aware that applying int() to a float value that has decimal places will simply lop the decimal places off the value before storing it; it's equivalent to taking the floor of a value.

In [45]:
# assign, print, and print type of a float
a = 15.1
print(a)
print(type(a))
print("\n")

# reassign float as an integer and repeat the process
a = int(a)
print(a)
print(type(a))
print("\n")

# reassign back to float and repeat the process
a = float(a)
print(a)
print(type(a))

15.1
<class 'float'>


15
<class 'int'>


15.0
<class 'float'>

Numbers can always be converted to strings; strings can be converted to numbers only if the characters in the string reflect exclusively numerical values. Strings containing alpha characters or most special characters cannot be converted to numbers, and any attempt to do so will raise a ValueError.

In [47]:
# convert a string to an integer and a float
x = '15'
new_x = int(x)
newer_x = float(x)
print(new_x)
print(newer_x)

15
15.0

In [48]:
# (try to) convert a non-numeric string to an integer
x = '15 years old'
new_x = int(x)

ValueError: invalid literal for int() with base 10: '15 years old'

Complex numbers can't be converted to integers or floats at all, and any attempt to do so will raise a TypeError.

Variables of any kind can always be converted to Boolean values using the bool() function. Values will be converted to False if they are empty for that class type (0 for integers, '' for strings, etc.) and True otherwise.

In [51]:
print(bool(0))    # Returns False: 0 is an empty integer
print(bool(0.0))  # Returns False: 0.0 is an empty float
print(bool(''))   # Returns False: '' is an empty string

print(bool(5))    # Returns True
print(bool(-3.1)) # Returns True
print(bool('hi')) # Returns True

False
False
False
True
True
True

#### Assignment Operators
Certain operators allow you to apply mathematical operations directly to a value inside a variable and assign the result to that same variable. These are done by adding the equal sign '=' after any of the mathematical operators.

In [52]:
x = 5

x += 2     # Adds 2 to whatever is currently in x (5) and assigns the result (7) to x.
print(x)   # prints 7

x -= 4     # Subtracts 4 from x (7) and assigns the result (3) to x.
print(x)   # prints 3

x *= 15    # Multiplies x (3) by 15 and assigns the result (45) to x.
print(x)   # prints 45

x /= 5     # Divides x (45) by 5 and assigns the result (9) to x.
print(x)   # prints 9.0

x **= 2    # Squares x (9) and assigns the result (81) to x.
print(x)   # prints 81.0

x %= 2     # Attempts to divide x (81) by 2 and assigns the remainder (1) to x.
print(x)   # prints 1.0

7
3
45
9.0
81.0
1.0

When used on strings, the "+=" operator adds on to the end of an existing string without reassignment.

In [53]:
a = "Hello"
print(a)

a += " world!"
print(a)

Hello
Hello world!

#### Best Practice Notes about Formatting
It's good practice to document your code by adding **comments** or, in some cases **docstrings**.

A comment is a line of code prefaced with at least one hashtag (#). The hashtag "comments out" the line, instructing Python not to execute anything on the line following the hashtag. If a hashtag is inserted mid-line, Python will still run everything before the hashtag as code. A hashtag only comments out the remainder of the line; if you have a comment that must extend across more than one line, you'll need to comment out the line following, as well.

In [54]:
# This line is a comment; Python will not attempt to execute it.
x = 5   # This is a mid-line comment; Python will still assign 5 to x, but everything after the hashtag is ignored.
print(x)

# This is a comment which, being very long, extends multiple lines.
# As such, it's necessary to hashtag out each line.
# As you can see, when executing this cell, Python simply ignores commented-out lines.
# You can comment out suspect lines of code without deleting it to see how Python handles that line's absence.

5

A docstring is like a comment, but it's set off with three quotation marks and closed with another three quotation marks (single or double quotation marks are fine, as long as the use is consistent; however, double-quotation marks are considered preferable). Docstrings can thus extend multiple lines. Python has special functions which collect all the docstrings in a Python file and compile documentation automatically based on them, which is useful if you intend to upload a program to a central repository such as PyPI, the Python Package Index. We'll talk more about using docstrings appropriately later on: for now, just understand that they are effectively ways to write multi-line comments.

In [55]:
"""
    This is a docstring.
    The program below takes two numbers and prints their sum.
    It takes no arguments.
    Program written by Sean Wisnieski on December 28, 2024.
"""

a, b = 15, 5
print(a+b)

20

Finally, it's best practice to name variables containing constants -- that is, variabels the values of which are not able to change -- in capital letters.

In [56]:
EULERS_NUMBER = 2.71828183
print(EULERS_NUMBER)

2.71828183

### Conclusion
In this lesson, we built on what we learned previously, learning about new data types like integers, floats, complex numbers, and Boolean values, as well as learning about attributes, logical operators, and certain best practices. In our next session, we'll review another type of object in Python: iterables like lists and tuples, which are simply collections of objects.

### Vocabulary Covered in This Lesson

* **Integer**: A type of object representing whole numbers, such as 2 or -7.
* **Float**: A type of object representing fractional numbers, such as 2.01 or -7.58.
* **Complex Number**: A type of object representing numbers with real and imaginary components, such as 5 + 2i, where i is the imaginary square root of -1.
* **Attributes**: A variable that belongs to a class, such that all members of the class have access to the same attribute. For instance, the class of complex numbers have attributes "real" (corresponding to the real number portion of the number) and "imag" (corresponding to the imaginary number portion of the number). Attributes are called using dot-notation, like with methods, but without parentheses, e.g., "my_complex_number.real".
* **Boolean**: A type of representing truthfulness or falsehood, i.e., True or False; commonly returned by logical operators.
* **Logical Operator**: A special type of operator which compares two variables (e.g., "x > y" to test if x is greater than y) and returns True or False.
* **Comment**: A line or portion of a line of code set apart from the rest with a hashtag '#', which will Python will not attempt to execute.
* **Docstring**: Essentially a multi-line comment, also set apart from execution, but opened and closed with a set of three quotation-marks.

### A Short Exercise

Your task is to edit **the below print statement only**, and to do so **by making one single change** (either adding or deleting a word or changing one sign), so that the statement prints False instead of True. Note that there are multiple ways to make this happen - as a bonus, see if you can identify all of them!

In [60]:
a = 15
b = 5

print(a == 15 and b < 10 and (a*b) != 400)

True